{% extends 'base.html.twig' %}

{% block title %}{{category.title}}{% endblock %}

{% block body %}
    <h1 class="text-primary fw-bold">{{category.title}}</h1>

    <table class="table table-primary table-striped-columns text-center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>Créée le</th>
                <td>{{ category.createdAt ? category.createdAt|date('d-m-Y H:i:s') : '/' }}</td>
            </tr>
            <tr>
                <th>Modifiée le</th>
                <td>{{ category.updatedAt ? category.updatedAt|date('d-m-Y H:i:s') : '/' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mb-3" href="{{ path('app_back_category_index') }}">Retour</a>

    <a class="btn btn-warning mb-3"  href="{{ path('app_back_category_edit', {'id': category.id}) }}">Editer</a>

    {{ include('back/category/_delete_form.html.twig') }}
{% endblock %}
