{% extends 'base.html.twig' %}

{% block title %}{{ingredient.name}}{% endblock %}

{% block body %}
    <h1 class="text-primary fw-bold">{{ingredient.name}}</h1>

    <table class="table table-primary table-striped-columns text-center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ingredient.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ ingredient.name }}</td>
            </tr>
            <tr>
                <th>Lieu de conservation</th>
                <td>{{ ingredient.isCold ? 'Frigo' : 'Placard' }}</td>
            </tr>
            <tr>
                <th>Unité</th>
                <td>{{ ingredient.unit }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ ingredient.createdAt ? ingredient.createdAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{{ ingredient.updatedAt ? ingredient.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mb-3" href="{{ path('app_back_ingredient_index') }}">Retour</a>

    <a class="btn btn-warning mb-3" href="{{ path('app_back_ingredient_edit', {'id': ingredient.id}) }}">Editer</a>

    {{ include('back/ingredient/_delete_form.html.twig') }}
{% endblock %}
