{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1 class="text-primary fw-bold">Liste des utilisateurs</h1>

    <table class="table table-primary table-striped-columns text-center align-middle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Nickname</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.nickname }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
                    <a class="btn btn-warning" href="{{ path('app_user_edit', {'id': user.id}) }}">Editer</a>
                </td>
            </tr>
        {% endfor %}    
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_user_new') }}">Créer un nouvel utilisateur</a>
{% endblock %}
