{% extends 'base.html.twig' %}

{% block title %}Allergies{% endblock %}

{% block body %}
    <h1 class="text-primary fw-bold">Les allergies</h1>

    <table class="table table-primary table-striped-columns text-center align-middle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Créée le</th>
                <th>Modifiée le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for allergen in allergens %}
            <tr>
                <td>{{ allergen.id }}</td>
                <td>{{ allergen.name }}</td>
                <td>{{ allergen.createdAt ? allergen.createdAt|date('d-m-Y H:i:s') : '/' }}</td>
                <td>{{ allergen.updatedAt ? allergen.updatedAt|date('d-m-Y H:i:s') : '/' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_back_allergen_show', {'id': allergen.id}) }}">Voir</a>
                    <a class="btn btn-warning" href="{{ path('app_back_allergen_edit', {'id': allergen.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune allergie dans la base de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_back_allergen_new') }}">Créer une nouvelle allergie</a>
{% endblock %}
