{% extends 'base.html.twig' %}

{% block title %}Back-Office Régalade{% endblock %}

{% block body %}

<div class="row d-flex mt-3">


    <div class="card text-center col-4">
        <div class="card-header">
            <h3 class="text-primary fw-bold fst-italic">Utilisateurs</h3>
        </div>
        <div class="card-body d-flex flex-column justify-content-between">
            <p class="card-text">{{ users }} utilisateurs inscrits</p>
            <a href="{{ path('app_back_user_index') }}" class="btn btn-primary">Gérer les comptes</a>
            <a href="{{ path('app_back_user_new') }}" class="mt-3 btn btn-info">Créer un nouvel utilisateur</a>
        </div>
        <div class="card-footer text-body-secondary">
            {{ lastUserTime }} depuis la dernière création de compte.
        </div>
    </div>

    <div class="card text-center col-4">
        <div class="card-header">
            <h3 class="text-primary fw-bold fst-italic">Commentaires</h3>
        </div>
        <div class="card-body d-flex flex-column justify-content-start">
            <p class="card-text text-warning">En ce moment, {{ commentToValidate }} commentaire(s) en attente de validation</p>

            {% if commentToValidate != 0 %} 
                <a href="{{ path('app_back_comment_index') }}" class="btn btn-primary">Voir</a>
            {% endif %}

        </div>
        <div class="card-footer text-body-secondary">
            {% if lastCommentTime == null %} rien pour <br> le moment
            {% else %}
            {{ lastCommentTime }} depuis le dernier commentaire.
            {% endif %}
        </div>
    </div>

    <div class="card text-center col-4">
        <div class="card-header">
            <h3 class="text-primary fw-bold fst-italic">Recettes</h3>
        </div>
        <div class="card-body d-flex flex-column justify-content-between">
            <p class="card-text text-warning">En ce moment, {{ recipeToValidate }} recette(s) en attente de validation</p>

            {% if recipeToValidate != 0 %} 
                <a href="{{ path('app_back_recipe_index') }}" class="btn btn-primary">Voir</a>
            {% endif %}
            
            <a href="{{ path('app_back_recipe_new') }}" class="mt-3 btn btn-info">Créer une nouvelle recette</a>
        </div>
        <div class="card-footer text-body-secondary">
            {% if lastRecipeTime == null %} rien pour <br> le moment
            {% else %}
            {{ lastRecipeTime }} depuis la dernière création de recette.
            {% endif %}
        </div>
    </div>

</div>

<div class="row d-flex justify-content-around mt-3">

    <div class="card text-center col-2">
        <div class="card-header">
            <h3 class="text-primary fw-bold fst-italic">Ingrédients</h3>
        </div>
        <div class="card-body d-flex flex-column justify-content-between">

            <a href="{{ path('app_back_user_index') }}" class="btn btn-primary">Voir les rayons</a>
            <a href="{{ path('app_back_user_new') }}" class="mt-3 btn btn-info">Créer un nouveau rayon</a>
        </div>
        <div class="card-footer text-body-secondary">
            {{ ingredients }} ingrédients
        </div>
    </div>


    <div class="card text-center col-2">
        <div class="card-header">
            <h3 class="text-primary fw-bold fst-italic">Catégories</h3>
        </div>
        <div class="card-body d-flex flex-column justify-content-between">

            <a href="{{ path('app_back_user_index') }}" class="btn btn-primary">Voir les catégories</a>
            <a href="{{ path('app_back_user_new') }}" class="mt-3 btn btn-info">Créer une nouvelle catégorie</a>
        </div>
        <div class="card-footer text-body-secondary">
            {{categories}} catégories
        </div>
    </div>

    <div class="card text-center col-2">
        <div class="card-header">
            <h3 class="text-primary fw-bold fst-italic">Rayons</h3>
        </div>
        <div class="card-body d-flex flex-column justify-content-between">

            <a href="{{ path('app_back_user_index') }}" class="btn btn-primary">Voir les ingrédients</a>
            <a href="{{ path('app_back_user_new') }}" class="mt-3 btn btn-info">Créer un nouvel ingrédient</a>

        </div>
        <div class="card-footer text-body-secondary">
            {{departments}} rayons
        </div>
    </div>

    <div class="card text-center col-2">
        <div class="card-header">
            <h3 class="text-primary fw-bold fst-italic">Allergènes</h3>
        </div>
        <div class="card-body d-flex flex-column justify-content-between">

            <a href="{{ path('app_back_user_index') }}" class="btn btn-primary">Voir les allergènes</a>
            <a href="{{ path('app_back_user_new') }}" class="mt-3 btn btn-info">Créer un nouvel allergène</a>
        </div>
        <div class="card-footer text-body-secondary">
            {{allergens}} allergènes
        </div>
    </div>

    <div class="card text-center col-2">
        <div class="card-header">
            <h3 class="text-primary fw-bold fst-italic">Régimes</h3>
        </div>
        <div class="card-body d-flex flex-column justify-content-between">

            <a href="{{ path('app_back_user_index') }}" class="btn btn-primary">Voir les régimes</a>
            <a href="{{ path('app_back_user_new') }}" class="mt-3 btn btn-info">Créer un nouveau régime</a>
        </div>
        <div class="card-footer text-body-secondary">
            {{diets}} régimes
        </div>
    </div>


</div>
{% endblock %}
