{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
    <h1 class="text-primary fw-bold">{{recipe.title}}</h1>

    <table class="table table-primary table-striped-columns text-center">
        <tbody>
            <tr>
                <th>Image</th>
                <td>{% if recipe.picture is not null %}<img src="{{ asset(recipe.picture) }}" class="img-thumbnail" style="width: 18rem;" alt="">{% else %} Pas d'image{% endif %}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ recipe.user.nickname ?? '/' }}</td>
            </tr>
            <tr>
                <th>Créée le</th>
                <td>{{ recipe.createdAt ? recipe.createdAt|date('d-m-Y H:i:s') : '/' }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ recipe.title }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{recipe.category.title}}</td>
            </tr>
            <tr>
                <th>Temps de préparation</th>
                <td>{{ recipe.setupDuration }} min</td>
            </tr>
            <tr>
                <th>Temps de cuisson</th>
                <td>{{ recipe.cookingDuration }} min</td>
            </tr>
            <tr>
                <th>Difficulté</th>
                <td>{{ recipe.difficulty }}</td>
            </tr>
            <tr>
                <th>Allergènes</th>
                <td>
                    <ul>{% for allergen in recipe.allergens %}
                        <li>{{allergen.Name}}</li>
                        {% else %}Pas d'allergènes{% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Allergènes</th>
                <td>
                    <ul>{% for diet in recipe.diets %}
                        <li>{{diet.name}}</li>
                        {% else %}Pas de régime{% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ recipe.description ?? "Non renseignée" }}</td>
            </tr>
            <tr>
                <th>Etapes</th>
                <td>{{ recipe.step }}</td>
            </tr>
            <tr>
                <th>Ingrédients</th>
                <td>
                    <ul>
                        {% for ingredient in recipe.containsIngredients %}
                        <li>{{ingredient.ingredient.name}} : {{ingredient.quantity}} {{ingredient.ingredient.unit}}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Portions</th>
                <td>{{ recipe.portions }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ recipe.rating }}</td>
            </tr>
        </tbody>
    </table>

    <a class="col-4 float-start btn btn-warning" href="{{ path('app_back_recipe_edit', {'id': recipe.id}) }}">Editer</a>

    <a class="col-4 float-end btn btn-success" href="{{ path('app_back_recipe_validate', {'id': recipe.id}) }}">Valider</a>

    {{ include('back/recipe/_delete_form.html.twig') }}

    <a class="col-3 btn btn-primary" href="{{ path('app_back_recipe_index') }}">Retour</a>
    
{% endblock %}
